.index-container {
  width: 100%;
  display: flex;
  justify-content: center;

  @media #{$up-md} {
    justify-content: space-between;
  }

  .side-container {
    width: 100%;
    max-width: 1100px;
    flex-basis: 100%;
    padding: 20px 16px;
    box-sizing: border-box;

    @media #{$up-sm} {
      padding: 20px 30px;
    }
    @media #{$up-md} {
      flex-basis: 80%;
    }
  }
}

.index-title {
  margin: auto;
  max-width: 510px;
  font-family: $fontTitle;
  font-weight: 500;
  font-size: 45px;
  color: $white;
  letter-spacing: 0.02em;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media #{$up-sm} {
    font-size: 65px;
  }

  strong {
    font-style: italic;
  }

  .black {
    color: $black;
  }

  .number {
    font-size: 55px;
    @media #{$up-sm} {
      font-size: 75px;
    }
  }

  .underlined-img {
    position: relative;
    display: inline-block;
    &:after {
      content: "";
      height: 16px;
      display: block;
      background-image: url("../images/trait-dessin.png");
      background-size: contain;
      background-repeat: no-repeat;
      margin-top: -8px;
    }
  }
}

.intro-text {
  max-width: 1100px;
  margin-bottom: 25px;
  letter-spacing: 0.05em;

  p {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
}

.cgu-text {
  font-size: 11px;
  letter-spacing: 0.01em;
}

.form-container {
  max-width: 510px;
  margin: auto;

  form {
    max-width: 365px;
  }
}

.form-submit-container {
  margin-top: 16px;
  text-align: center;

  .submit-cta-container {
    display: inline-block;
    position: relative;
    border-radius: 100px;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 4px $black;
    overflow: hidden;
  }

  .loader {
    height: 140px;
    width: 140px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: $black;
    opacity: 0;
    pointer-events: none;
  }

  .btn {
    height: 140px;
    width: 140px;
    font-size: 14px;
    font-family: $fontText;
    padding-bottom: 5px;
    letter-spacing: 0.04em;
    box-sizing: border-box;
    border-radius: 100px;

    &[disabled],
    &:disabled {
      background: $white;
      pointer-events: none;
    }
  }
}

.start-download {
  font-size: 12px;
  font-weight: 300;
  color: #cdcdcd;
  margin-bottom: 10px;
}
