body {
  font-size: 14px;
  font-family: $fontText;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primaryColor;
  @media #{$up-sm} {
    background-image: url("../images/logo-dessin.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 460px;
    font-size: 16px;
  }
}

a {
  color: inherit;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

svg {
  fill: currentColor;
  width: 100px;
  .path {
    fill: inherit;
  }
  @media #{$up-sm} {
    width: 140px;
  }
}

strong,
.strong {
  font-weight: bold;
}

.page {
  min-height: 100vh;
  width: 100%;
  padding-top: 70px; // header height
  padding-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media (min-height: 760px) {
    padding-bottom: 70px;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container-big {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-family: $fontTitle;
  line-height: 1.2;
}

.cap {
  text-transform: uppercase;
}

.text {
  font-family: $fontText;
  font-weight: 300;
  line-height: 1.4;
  color: $white;
}

.shadow-word {
  font-weight: bold;
  position: relative;
  z-index: 1;

  &::before {
    content: attr(attr-text-shadow);
    position: absolute;
    color: currentColor;
    opacity: 0.1;
    transform: scale(1.08) translate(-8px, -8px);
    z-index: -1;
    pointer-events: none;

    @media #{$up-sm} {
      transform: scale(1.08) translate(-20px, -10px);
    }
  }
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.block-word {
  display: block;
}

.btn {
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
  outline: none;
  text-transform: uppercase;
  background: $primaryColor;
  border-radius: 30px;
  padding: 12px 18px;
  box-sizing: border-box;
  cursor: pointer;

  &.btn-primary {
    background-color: $white;
    color: $primaryColor;
    // border: 1px solid $white;
    transition: 0.3s ease-in-out;
    transition-property: color, background-color;

    @media #{$up-md} {
      &:hover,
      &:focus {
        background-color: $black;
        color: $white;
      }
    }
  }
}

.form {
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    @media #{$up-sm} {
      flex-wrap: nowrap;
      margin-bottom: 35px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.double {
      .form-group {
        margin-bottom: 20px;
        margin-right: 0;
        &:last-child {
          margin-bottom: 0;
        }

        @media #{$up-sm} {
          flex-basis: 48%;
          margin-right: 20px;
          margin-bottom: 0;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .form-group {
    flex-basis: 100%;
  }

  .form-group-content {
    flex-direction: column;
    display: flex;
    position: relative;
  }

  .label {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: $primaryColor;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-40%);
    transform-origin: center left;
    transition: all 0.2s $cubic1;
  }

  .label-fix {
    font-weight: 500;
    margin-bottom: 8px;
    color: $white;
    text-transform: uppercase;
  }

  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    height: 42px;
    font-size: 14px;
    font-family: $fontText;
    font-weight: bold;
    padding: 0 15px;
    border: 1px solid $light-grey;
    background: $light-grey;
    outline: none;
    border-radius: 20px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      border-color: $primaryColor;
    }

    &.isNotEmpty,
    &.isFocused {
      padding-top: 10px;
      + .label {
        transform: translateY(-16px) scale(0.8);
      }
    }

    &.isDirty {
      &.isNotValid {
        border-color: red;
      }
    }
  }

  .error {
    font-size: 11px;
    font-weight: 300;
    color: red;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(2px);
    margin: 5px 0;
  }

  select {
    width: 100%;
    font-size: 15px;
    padding-right: 30px;
    font-weight: 600;
    -webkit-appearance: none;
    text-transform: uppercase;
    color: $primaryColor;
    letter-spacing: 0.02em;
  }

  .select-container {
    position: relative;
  }

  .chevron {
    width: 10px;
    color: $primaryColor;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
