// COLORS
$primaryColor: #5010f2;
$white: #fff;
$black: #303030;
$grey: #707070;
$light-grey: #f3f3f5;
$green: green;
$red: red;

// FONTS

$fontTitle: "Apex New", sans-serif;
$fontText: "AvantGarde", sans-serif;

// EASGING
$cubic1: cubic-bezier(0.74, 0.04, 0.34, 0.95);

// MEDIA QUERIES
$up-xs: "only screen and (min-width: 321px)";
$up-sm: "only screen and (min-width: 640px)";
$up-md: "only screen and (min-width: 780px)";
$up-ml: "only screen and (min-width: 920px)";
$up-lg: "only screen and (min-width: 1180px)";
$up-xl: "only screen and (min-width: 1280px)";
$upLargeScreen: "only screen and (min-width: 1680px)";
